@page "/showVehicles"
@using System.Text.Json
@attribute [StreamRendering]
@rendermode InteractiveAuto

@inject IVehicleData _vehicleDB

<div><h3>PODACI O VOZILIMA</h3></div>

@if(vehicles is null)
{
    <p><em>Ucitavanje podataka...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Marka vozila</th>
                <th>Model vozila</th>
                <th>Godiste</th>
                <th>Vlasnik</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var vehicle in vehicles)
            {
                <tr>
                    <td>@vehicle.MarkaVozila</td>
                    <td>@vehicle.ModelVozila</td>
                    <td>@vehicle.Godiste</td>
                    <td>@vehicle.FullName</td>
                    <td><button class="btn btn-secondary" style="margin-right:5px; margin-bottom:2px" @onclick="() => OpenDialog(vehicle)">Azururaj</button> <button class="btn btn-secondary" @onclick="() => OpenDeleteDialog(vehicle)">Obrisi</button></td>
                </tr>
            }
        </tbody>
    </table>
    @if (DialogOpen)
    {
        <ModalVehicleDialog Title="@Title" Marka="@SelectedMarka" Model="@SelectedModel" Godiste=@SelectedGodiste FullName="@SelectedFullName" VehicleID=@SelectedVehicleID OnClose="@OnCloseUpdateMethod" OnOk="@OnUpdateMethod"></ModalVehicleDialog>
    }
    @if (DeleteDialogOpen)
    {
        <DeleteModalVehicleDialog Title="@Title" VehicleID=@SelectedVehicleID OnClose="@OnCloseDeleteMethod" OnDelete="@OnDeleteMethod"></DeleteModalVehicleDialog>
    }
    @if (SuccessDialogShow)
    {
        <SuccessModal OnClose="@OnCloseSuccesModal"></SuccessModal>
    }
    @if (ErrorDialogShow)
    {
        <ErrorModal OnClose="@OnCloseErrorModal"></ErrorModal>
    }

}

@code {
    private List<VehicleModel>? vehicles;

    public bool DialogOpen { get; set; }
    public bool DeleteDialogOpen { get; set; }
    public bool SuccessDialogShow { get; set; } = false;
    public bool ErrorDialogShow { get; set; } = false;

    private int SelectedVehicleID { get; set; }
    private string? SelectedMarka { get; set; }
    private string? SelectedModel { get; set; }
    private int SelectedGodiste { get; set; }
    private string? SelectedFullName { get; set; }
    private string? Title { get; set; }

    protected override async Task OnInitializedAsync()
    {
        vehicles = await _vehicleDB.GetVehicles();
    }

    private void OnCloseUpdateMethod(bool parameter)
    {
        DialogOpen = parameter;
        StateHasChanged();
    }

    private void OnCloseDeleteMethod(bool parameter)
    {
        DeleteDialogOpen = parameter;
        StateHasChanged();
    }

    private void OnCloseSuccesModal(bool parameter)
    {
        SuccessDialogShow = parameter;
        StateHasChanged();
    }

    private void OnCloseErrorModal(bool parameter)
    {
        ErrorDialogShow = parameter;
        StateHasChanged();
    }

    private async Task OnUpdateMethod(JsonElement json)
    {
        var result = _vehicleDB.UpdateVehicle(json);

        CheckResult(result);

        vehicles = await _vehicleDB.GetVehicles();

        DialogOpen = false;
        StateHasChanged();
    }

    private async Task OnDeleteMethod(int id)
    {
        var result = _vehicleDB.DeleteVehicle(id);

        CheckResult(result);

        vehicles = await _vehicleDB.GetVehicles();

        DeleteDialogOpen = false;
        StateHasChanged();
    }

    private void OpenDialog(VehicleModel vehicleModel)
    {
        SelectedVehicleID = vehicleModel.VoziloId;
        SelectedMarka = vehicleModel.MarkaVozila;
        SelectedModel = vehicleModel.ModelVozila;
        SelectedGodiste = vehicleModel.Godiste;
        SelectedFullName = vehicleModel.FullName;
        Title = $"Azurirate vozilo {vehicleModel.MarkaVozila} {vehicleModel.ModelVozila}";
        DialogOpen = true;
        StateHasChanged();
    }

    private void OpenDeleteDialog(VehicleModel vehicleModel)
    {
        SelectedVehicleID = vehicleModel.VoziloId;
        Title = $"Da li ste sigurni da zelite da obrisete vozilo {vehicleModel.MarkaVozila} {vehicleModel.ModelVozila}?";

        DeleteDialogOpen = true;
        StateHasChanged();
    }

    private void CheckResult(bool parameter)
    {
        if (parameter)
            SuccessDialogShow = true;
        else
            ErrorDialogShow = true;
    }
}
